@mixin textAlignCenter {
  text-align: center !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  padding: 3rem;
  font-family: "Lato", sans-serif !important;
  font-weight: 500;
  line-height: 1.7;
  box-sizing: border-box;
  background-color: #000000 !important;
}

.App {
  height: 95vh;
  background-image: url(img/background.jpg);
  background-size: cover;
  background-position: top;
  border-radius: 0.5rem;
  box-shadow: 0 0 1.5rem 0 #000000 inset;
}

.lang-buttons {
  float: right;
}

.form {
  width: 40rem;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.93;
  padding: 3.5rem;
  border-radius: 0.5rem;

  &-title {
    @include textAlignCenter();
    margin-bottom: 3rem;
    font-family: cursive;
  }

  &-steps {
    margin-bottom: 3rem;
  }

  &-checkbox {
    @include textAlignCenter();
  }

  &-buttons {
    @include textAlignCenter();
  }
}

.register-button {
  margin-top: 2.4rem;
}

.back-button {
  margin-right: 1.5rem;
}

.reset-button {
  margin-left: 1.5rem;
}

.ant-descriptions-item-content {
  @include textAlignCenter();
}
