* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  padding: 3rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

.App {
  height: 95vh;
  background-image: url(img/background.jpg);
  background-size: cover;
  background-position: top;
  opacity: 0.9;
  border-radius: 0.5rem;
  box-shadow: 0 0 1.5rem 0 black inset;
}

.logo-box {
  position: absolute;
  top: 3.5rem;
  left: 3.5rem;
}

.logo {
  max-width: 100%;
  height: auto;
}
